body{
    background-color: white;
    color: black;
}

.dark-mode{
    background-color: black;
    color: white;
}

.dark-mode a{
    color: white;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    /* height: 40px; */
}

ul{
    padding: 0;
}

nav a{
    color: black;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 0 ;
    margin-bottom: 10px;
    /* background-color: tomato; */
    /* height: 40px; */
    /* line-height: 40px; */
}

nav{
    display: none;
}

p{
    color:black;
    text-align: center;
}

.dark-mode p{
    color: white;
}

.messageSecret-js{
    display: none;
}

.show{
    display: block;
}

.txt-center{
    text-align: center;
}

.btDarkModeSwitch{
   text-align: start;
}

@media (min-width : 640px){
    nav{
        display: block;
    }
    #btMenu{
        display: none;
    }
    ul{
        display: flex;
        justify-content: start;
    }
    nav a{
        padding: 10px;
    }
}

